html {
  background-color: #000;
  color: #e1e1e1;
}

body {
  font: 24px/1.6em 'Crimson Text', serif;
}

.main {
  max-width: 860px;
  margin: 0 auto;
  padding: 2.5rem;
}

p, ul {
  margin: 1rem 0 0;
}

strong {
  font-weight: 600;
}

h1,h2,h3 {
  margin: 2.5rem 0 0;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

h1 {
  line-height: 4rem;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

hr {
  margin: 2.5rem 0;
  opacity: 0.15;
}

a {
  color: #e1e1e1;
}

.primer {
  font-size: 1.75rem;
  max-width: 700px;
}

.cta,.wip {
  display: inline-block;
  margin: 1rem 0 0;
}

.cta {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  background-color: #222;
}

.cta:hover {
  text-decoration: underline;
}